<!doctype html>
<html lang="en">

<head>
    <title>University Prediction Portal</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/chatbot.css' )}}">

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">UR Counsellor</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" aria-current="page" href="#">Home</a>
                        <a class="nav-link" href="#">Rate My SOP</a>
                        <a class="nav-link" href="#">Rate My LOR</a>
                        <a class="nav-link" href="#">Mock Tests</a>
                        <a class="nav-link" href="#">Recommend me</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main class="m-5">
        <form action="/" method="post">
            <div class="mb-3">
                <label for="" class="form-label" autofocus>GRE Score</label>
                <input type="number" min="0" max="340" class="form-control" name="gre" id="" aria-describedby="helpId" placeholder="">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">TOEFL Score</label>
                <input type="number" min="0" max="120" class="form-control" name="toefl" id="" aria-describedby="helpId" placeholder="">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">University Rating (Scale: 0-5)</label>
                <input type="number" min="0" max="5" class="form-control" name="rating" id="" aria-describedby="helpId" placeholder="">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">LOR grade</label>
                <input type="number" step="any" min="0" max="5" class="form-control" name="lor" id="" aria-describedby="helpId" placeholder="">
                <small id="helpId" class="form-text text-muted">
                    Don't know what grade your LOR has? Try <a href="/grading-lor">Grade My LOR</a> to see if your LOR looks good to the Uni
                </small>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">SOP grade</label>
                <input type="number" step="any" min="0" max="5" class="form-control" name="sop" id="" aria-describedby="helpId" placeholder="">
                <small id="helpId" class="form-text text-muted">
                    Don't know what grade your LOR has? Try <a href="/grading-sop">Grade My SOP</a> to see if your LOR looks good to the Uni
                </small>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">CGPA (scale: 10)</label>
                <input type="number" step="any" min="0" max="10" class="form-control" name="cgpa" id="" aria-describedby="helpId" placeholder="">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Do you have research/work experience?</label>
                <br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="exp" id="yes" value="1">
                    <label class="form-check-label" for="yes">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="exp" id="no" value="0">
                    <label class="form-check-label" for="no">No</label>
                </div>
            </div>
            <button class="btn btn-success" type="submit">Predict my chances</button>
        </form>
    </main>

    <footer>
        <!-- place footer here -->

    </footer>
        <!-- ===================== Chat Bot ================================== -->

        <div id="chatbot" class="main-card collapsed">
            <button id="chatbot_toggle">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path
                        d="M15 4v7H5.17l-.59.59-.58.58V4h11m1-2H3c-.55 0-1 .45-1 1v14l4-4h10c.55 0 1-.45 1-1V3c0-.55-.45-1-1-1zm5 4h-2v9H6v2c0 .55.45 1 1 1h11l4 4V7c0-.55-.45-1-1-1z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                    style="display:none">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path
                        d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z" />
                </svg>
            </button>
            <div class="main-title">
                <div>
                    <svg viewBox="0 0 640 512" title="robot">
                        <path fill="currentColor"
                            d="M32,224H64V416H32A31.96166,31.96166,0,0,1,0,384V256A31.96166,31.96166,0,0,1,32,224Zm512-48V448a64.06328,64.06328,0,0,1-64,64H160a64.06328,64.06328,0,0,1-64-64V176a79.974,79.974,0,0,1,80-80H288V32a32,32,0,0,1,64,0V96H464A79.974,79.974,0,0,1,544,176ZM264,256a40,40,0,1,0-40,40A39.997,39.997,0,0,0,264,256Zm-8,128H192v32h64Zm96,0H288v32h64ZM456,256a40,40,0,1,0-40,40A39.997,39.997,0,0,0,456,256Zm-8,128H384v32h64ZM640,256V384a31.96166,31.96166,0,0,1-32,32H576V224h32A31.96166,31.96166,0,0,1,640,256Z" />
                    </svg>
                </div>
            </div>
            <div class="chat-area" id="message-box">
                <iframe allow="microphone;" width="350" height="430"
                    src="https://console.dialogflow.com/api-client/demo/embedded/4829316d-5cd5-4aad-90ac-af3a91370fd7">
                </iframe>
            </div>
        </div>
    <!-- ===================== Chat Bot ================================== -->

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="static/js/chatbot.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>

</html>